

p.company{
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 25px;  
    text-align: left;
    padding-top: 2px;
    padding-left: 15px;
}

a{
    cursor: pointer;
    color: #adadad;
}

a:hover{
    color: #55acee;
    text-decoration: none;
}

a:focus,
a:visited {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
p.company{
    font-size: 0.7em;

}
}