  <div class="col-sm-12">
    <h2 class="text-center sub-title">{{title}}</h2>
  </div>
  <div class="col-sm-12 test">
        <div class="row">
                <div id="countup">  
             <div class="col-sm-1"></div>  
            <div class="col-sm-2">
                  <div class="text-outer">
                        <div class="year-text">
                              <p id="years">000</p>
                        </div>
                        <p><span>years</span></p>
                  </div>
            </div>

            <div class="col-sm-2">
                  <div class="text-outer">
                        <div class="year-text">
                              <p id="days">000</p>
                        </div>
                        <p><span>days</span></p>
                  </div>
            </div>

            <div class="col-sm-2 hours">
                  <div class="text-outer">
                        <div class="year-text">
                              <p id="hours">000</p>
                        </div>
                        <p><span>hours</span></p>
                  </div>
            </div>

            <div class="col-sm-2">
                  <div class="text-outer">
                        <div class="year-text">
                             <p id="minutes">000</p>
                        </div>
                          <p><span>minutes</span></p>                      
                  </div>
            </div>

            <div class="col-sm-2">
                  <div class="text-outer">
                        <div class="year-text">
                        <p id="seconds">000</p>
                        </div>
                          <p><span>seconds</span></p>   
                  </div>
            </div>
            <div class="col-sm-1"></div>
                </div>
    </div> <!-- End of container div -->
  </div>