  <div class="col-sm-12">
    <h2 class="text-center sub-title">{{title}}</h2>
  </div>

      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="countup">

            <div class="col-sm-12">
                  <div class="text-outer">
                        <div class="col-sm-6 year-text">
                              <p id="years">00</p>
                        </div>
                        <div class="col-sm-6 date-text">
                              <p class="timeRefYears">years</p>
                        </div>
                  </div>
            </div>

            <div class="col-sm-12">
                  <div class="text-outer">
                        <div class="col-sm-6 year-text">
                              <p id="days">00</p>
                        </div>
                        <div class="col-sm-6 date-text">
                              <p class="timeRefDays">days</p>
                        </div>
                  </div>
            </div>

            <div class="col-sm-12">
                  <div class="text-outer">
                        <div class="col-sm-6 year-text">
                              <p id="hours">00</p>
                        </div>
                        <div class="col-sm-6 date-text">
                              <p class="timeRefHours">hours</p>
                        </div>
                  </div>
            </div>

            <div class="col-sm-12">
                  <div class="text-outer">
                        <div class="col-sm-6 year-text">
                             <p id="minutes">00</p>
                        </div>
                        <div class="col-sm-6 date-text">
                              <p class="timeRefMinutes">minutes</p>
                        </div>
                  </div>
            </div>

            <div class="col-sm-12">
                  <div class="text-outer">
                        <div class="col-sm-6 year-text">
                        <p id="seconds">00</p>
                        </div>
                        <div class="col-sm-6 date-text">
                              <p class="timeRefSeconds ">seconds</p>
                        </div>
                  </div>
            </div>
                </div>
            </div>
        </div>
    </div> <!-- End of container div -->