
#counter{
  margin: 0px;
}

#countup{
  margin-top: 5px;
}

.year-text{
  color: #da3644;
  text-align: right;
  font-size: 5em;
  padding-right: 6px;
  font-family: 'Lobster', cursive;
}

.date-text{
  color: #adadad;
  font-size: 1.3em;
  line-height: 1em;
  padding-top: 50px;
  display: inline-block;
  padding-left: 6px;
}


#years, 
#days,
#hours,
#minutes,
#seconds{
  margin: 0;
  padding: 0;
}