
#counter{
  margin: 0px;
}

#countup{
  margin-top: 10px;
}

.year-text{
  color: #55acee;
  text-align: left;
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 0;

}

span{
  color: #adadad;
  font-size: 1.4em;
  text-align: left;
  padding-left: 0px;
}

.col-sm-2{
  margin-bottom: 0;
  padding-bottom: 0;
}



#years, 
#days,
#hours,
#minutes,
#seconds{
  margin: 0;
  padding: 0;
}

.hours{
  margin-left: 25px;
}
