
/*Quote names*/

span.quote,
span.date{
    display: block;
}

img{
    width: 17%;
}

.name{
    color: #da3644;
    font-weight: bold;
    text-transform: uppercase;
}

.title{
    color: #c9c7c7;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #e7e5e5;
    border: 2px solid #ffffff;
}

.list-group-item.visited {
    border: 2px solid #ffffff;
}

.list-group-item{
    border: 2px solid #ffffff;
    padding: 6px 5px;
}

.list-group-item:hover{
    background-color: #e7e5e5;
}

/*Quote box*/

.right-box{
    text-align: center;
    margin-top: 5px;
}

.quote-box{
    height: 275px;
    background-color: #e7e5e5;
    color: #8d8b8b;

}

.glyphicon{
    font-size: 100px;
    margin-top: 30px;
    color: #b9b6b6;
}

.quote{
    color: #da3644;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.15em;
    line-height: 1.37em;
    margin-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.date{
    color: #adadad;
    font-size: 1.1em;
}


/*Quote box*/
