
/*Quote names*/

span.quote,
span.date{
    display: block;
}

img{
    width: 13%;
}

.name{
    color: #da3644;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.title{
    color: #ADADAD;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #e7e5e5;
    border: 2px solid #ffffff;
}

.list-group-item.visited {
    border: 2px solid #ffffff;
}

.list-group-item{
    border: 2px solid #ffffff;
    padding: 4px 5px;
}

.list-group-item:hover{
    background-color: #e7e5e5;
}

/*Quote box*/

.right-box{
    text-align: center;
    margin-top: 12px;
}

.quote-box{
    height: 240px;
    background-color: #e7e5e5;
    color: #ADADAD;

}

.glyphicon{
    font-size: 100px;
    margin-top: 30px;
    color: #b9b6b6;
}

.quote{
    color: #da3644;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.05em;
    line-height: 1.37em;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.date{
    color: #adadad;
    font-size: 1.1em;
}

.arrow{
    margin-top: 50px;
    margin-bottom: 15px;
}

h3{
    font-size: 1.2em;
}


/*Quote box*/
