  <div class="col-sm-12">
    <h2 class="text-center sub-title">{{title}}</h2>
  </div>
  
  <div class="col-sm-4 left-box">
      <ul class="list-group users-list">
          <li class="list-group-item" *ngFor="let user of users" (click)="selectUser(user)" [class.active]="user === activeUser">
              <span class="name">{{user.name}}</span>
              </li>
      </ul>
  </div>

  <div class="col-sm-8 right-box">
      <div *ngIf="activeUser">
          <img class="img-rounded" src={{activeUser.image}}/>
          <span class="quote">{{activeUser.quote}}</span>
          <span class="date">{{activeUser.date}}</span>
      </div>

      <div *ngIf="!activeUser" class="quote-box">
          <img class="arrow" src="./../../assets/images/arrow.svg">
          <h3>Please choose a quote</h3>
      </div>
  </div>