
  <div class="container wrapper">

    <div class="row">
      <div class="col-sm-3">
        <app-league-countdown></app-league-countdown>
      </div>
      <div class="col-sm-9">
        <app-spurs-quotes></app-spurs-quotes>
      </div>
    </div>

    <div class="row">
       <div class="col-sm-12">
         <app-honours></app-honours>
         <app-trophy-countdown></app-trophy-countdown>
       </div>
         
    </div>

    <div class="row">
       <div class="col-sm-12">
         <app-league></app-league>
       </div>
    </div>

  </div>
