
  <div class="container wrapper">

    <div class="row">
      <div class="col-sm-4">
        <app-north-london></app-north-london>
      </div>
      <div class="col-sm-8">
        <app-spurs-quotes></app-spurs-quotes>
      </div>
    </div>

        <div class="row">
      <div class="col-sm-12">
        <app-league-countdown></app-league-countdown>
      </div>
    </div>

    <div class="row">
       <div class="col-sm-12">
         <app-honours></app-honours>
       </div>
    </div>

    <div class="row">
       <div class="col-sm-12">
         <app-footer></app-footer>
       </div>
    </div>

  </div>
