  <div class="col-sm-12">
    <h2 class="text-center sub-title">{{title}}</h2>
  </div>

  <div class="col-sm-12">
<div id="carousel-example-generic" class="carousel carousel-fade" data-ride="carousel" data-interval="3000">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="./../../assets/images/96.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/97.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/98.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/99.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/00.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/01.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/02.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/03.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/04.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/05.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/06.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/07.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/08.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/09.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/10.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/11.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/12.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/13.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/14.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/15.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/16.svg" alt="North London Derby">
    </div>
  </div>
</div>
   
  </div>
