  <div class="col-sm-12">
    <h2 class="text-center sub-title">{{title}}</h2>
  </div>

  <div class="col-sm-12">
<div id="carousel-example-generic" class="carousel carousel-fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="./../../assets/images/96.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/97.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/98.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/99.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/00.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/01.svg" alt="North London Derby">
    </div>
    <div class="item">
      <img src="./../../assets/images/02.svg" alt="North London Derby">
    </div>
  </div>
</div>
   
  </div>
