  <div class="col-sm-12">
    <h2 class="text-center sub-title">{{title}}</h2>


  <div class="col-sm-7">
    <div class="row spacing">
      <img src="./../../assets/images/honours.svg">
    </div>

      <p class="cups">* Includes the European Cup, League Title, Cup-Winners-Cup, Europa Cup and FA Cup (the League Cup, a major trophy, really?)</p>

  </div>


  <div class="col-sm-5">

    <div class="col-sm-12">
    <p class="count">11 May 1991...</p>
  </div>

  <div class="col-sm-12 ground">
    <h3>FA Cup Final</h3>
  </div>

    <div class="col-md-6 col-md-offset-3 final">
      <img src="./../../assets/images/final.svg">
   </div>

    <div class="col-sm-12">
    <p class="count1">...25 years and counting</p>
  </div>

  </div>



  </div>