
.spacing{
    margin: 0px;
}

p{
    margin-top: 20px;
    color: #8d8b8b;
}

.final{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 20px;
    color: #676a72;
}

h3{
    text-align: center;
    color: #adadad;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.final {
    margin-bottom: 25px;
}

p.cups{
    font-size: 0.9em;
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    color: #adadad;
}

.ground{
    padding-bottom: 0;
}

.honours{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

