  <div class="col-sm-12">
    <h2 class="text-center sub-title">{{title}}</h2>


  <div class="col-sm-8">
    <div class="row spacing">
      <img src="./../../assets/images/honours.svg">
    </div>

      <p>* Includes the European Cup, League Title and FA Cup (the League Cup a major trophy, really?)</p>

  </div>


  <div class="col-sm-4">

    <div class="col-sm-12">
    <p class="count">11 May 1991...</p>
  </div>

  <div class="col-sm-12">
    <h3>FA Cup Final</h3>
    <p class="stadium">Wembley Stadium</p>
  </div>

    <div class="col-sm-12 final">
          <p>Tottenham Hotspur <span class="red">&nbsp;2</span></p>
          <br>
          <p>Nottingham Forest <span class="red">&nbsp;1</span></p>
      <br>
  </div>

    <div class="col-sm-12">
    <p class="count1">...25 years and counting</p>
  </div>

  </div>



  </div>